# Chapter 2 Simple Python Programs

pg 46 of 492

<hr>

This chapter presents an overview of the structure of a computer program which include data definitions and basic instructions using the python programming language.  Because functions are one of the building blocks and the fundamental components of Python programs, the concepts of function definitions and function invocations are gradually explained, and complete Python programs are introduced that illustrate further the role of functions

This chapter also presents concepts and principles that are used in developing computational models by implementing two mathematical models with Python programs

## 2.2 Computing with python

There are two modes of computing in python


* Interactive mode
    *  provides the python prompt indicated by >>>
    *  each python command is directly entered and the python interpreter responds immediately to the command
*  Script mode
    *  a sequence of python commands in a file with a .py extension
    *  This file is passed to the Python interpreter to process and is known as a script.
    *  A typical python program is edited and stored as a script and an appropriate text editor is used to build a program as a python script

In [1]:
y = 34.5
y

34.5

In [2]:
x = 12.48

In [3]:
x

12.48

In [4]:
z = x + y
z

46.980000000000004

### Mathematical Operations 2.2.2

To increment the value of a variable

In [5]:
i = 10
i += 1
i

11

integer division

In [6]:
int_division = i / 3
int_division

3.6666666666666665

In [7]:
int_div = i % 3
int_div

2

non integer numbers are known as floating point numbers

In [8]:
x = 22.555555
type(x)

float

In [9]:
z = x + 1.5 + x**3
z

11499.263211879306

complex numbers

In [10]:
x = 2.5
y = -5.32
z = complex(x, y)
z

(2.5-5.32j)

In [11]:
rp = z.real
rp

2.5

In [12]:
ip = z.imag
ip

-5.32

### More advanced mathematical expressions

simple arithmetic expressions are used in assignment statements

These are addition, subtraction, multiplication, division, and exponentiation

More complex calculations are various numerical funcs such as square root and trig functions

These expressions apply the math functions cos and sqrt that are defined in the math module

The import command is used to gain access to a module

In [13]:
from math import *
pi

3.141592653589793

In [14]:
PI = pi
ss6 = cos(0.5*PI)
ss6

6.123233995736766e-17

In [15]:
ss7 = cos(0.25*PI)
ss7

0.7071067811865476

In [16]:
yy = exp(x)
yy

12.182493960703473

In [17]:
zz = exp(1.0e-5) - 1
zz

1.0000050000069649e-05

In [18]:
ff = acos(0.45)
ff

1.1040309877476002

In [19]:
mfact = factorial(5)
mfact

120

In the following example, the value of expression $cos(p) + q$ is assigned to the variable y and the value of $\sqrt(x-y)$ is assigned to the variable $q$

In [20]:
p = 0.2 * PI
q = 2.34
y = cos(p) + q
y

3.1490169943749473

In [24]:
q = sqrt(9-0)
q

3.0

In the following example, the value of the mathematical expression $x^n$ x y x $sin^(2m)x$ is assigned to the variable z

In [26]:
x = 2.5
y = -5.32
n = 3.75
m = 4
z = (x**n) * y * sin(x)**(2*m)
z

-2.719807659910173

### Scientific notation

scientific notation is used to display very large and very small floating-point values.  It is written witha letter $e$ after the floating-point value followed by an integer exponent

In the following example, the mathematical equivalent for the first value of variable y is 5.77262 x 10^2

Scientific notation can alsu be used in mathematical expressions with assignments

In [27]:
y = 5.77262e+12
y

5772620000000.0

In [28]:
x = 5.4e8 + y
x

5773160000000.0

In [29]:
y = x * 126.5e10
y

7.3030474e+24

### Programs

a program consists of data definitions and instructions that manipulate the data These are:

* Data definitions
    *  indicate the data to be manipulated by the instructions
* A sequence of instructions, which perform the computations on the ata in order to produce the desired results


### 2.4 Data definitions

The data in a program consists of one or more data items

These are manipulated or transformed by the computations ( computer operations ).  In python, each data definition is specified by assigning a value to a variable and has:

* a reference, which is a variable with a unique name to refer to the data item, and
* a value associated with it


The name of the reference (variable) to a data item is an identifier and is defined by the programmer; it must be different from any keyword in the programming language.

### 2.4.1 Data Objects

In Python, the data items are known as data objects and every variable references a data object

If the value associated with a data object does not change, then the data object is said to be immutable, otherwise it is mutable,  The three most important attributes of a data object are

* The identity, which is the location (address) of the data object in the computer memory;
* The type, which defines the operations are allowed for the data object; and
* the value, which can be changed (mutable) or not (immutable).


### 2.4.2 Variables

As mentioned previously, a variable is a reference to a data ovject and the name of the variable is used in a program for uniquely identifying the variable and is known as an identifier.  The special text wods or symbols that indicate essential parts of a programming language are known as keywords

These are reserved words and cannot be used for any other purpose.

A problem that calculates the area of a triangle uses four variables.  Examples of the names for these variables are a, b, c, and area.


### 2.4.3 Using Data Objects and Variables

In the following listing of Python commands, the first three commands include three assignments to variables x, y, and z

The fourth Python command include three assignments to variables x, y, and z.

the fourth python command uses the python function id() to et the address of the data ovject referenced by variable x and this address is 19290088.

Note that the address of the referenced ovject with variables y and z is the same, because these two variables refer to the same data ovject.

After changing the value of variable y, the reference is different because now variable y refers to a different data ovject.  Note that the # symbol is used to include a comment on a source line and has no effect on the instruction

In [30]:
x = 5.33
y = 6
z = y # these now refer to the same object
id(x) # get the identity of data object

3048232582064

In [31]:
id(y)

140712566522952

In [32]:
id(z)

140712566522952

In [33]:
y = y+1

In [34]:
id(y)

140712566522984

In [35]:
id(z)

140712566522952

In [36]:
z = z+1

In [37]:
id(z)

140712566522984

In [38]:
type(x)

float

In [39]:
type(y)

int

### 2.4.4 Basic Data Types

The fundamental data types are classified into the three categories:
* Numeric
* Text
* Boolean

The numeric types are further divided into two basic types, integer, and float.

Values of integer type are those that are countable to a finite value, for example, age, number of parts, number of students enrolled in a course, and so on

Values of type float have a decimal point; for example, cost of a part, the height of a tower, current temperature in a boiler, a time interval.

These values cannot be expressed as integers

In the python commands of the previous example, the Python function type() is used to get the type variable x and of variable y

Note that tye type of variable x is float 


okay so this is bull shit its just paragraphs about what we have already done skip

Okay here is some useful information:

an example of a info comment to identify a program

In [43]:
"""
    Program    :  tconvctof.py
    Author     :  Jose M Garrido
    Date       :  5-12-2014
    Description:  Read value of temperature Celsius from console, 
    convert to degrees Fahrenheit, and display value on the output console */
"""

C = input("Enter value of temp in Celsius: ")
F = float(C) * (9.0/5.0) + 32.0 # temperature in fahrenheit
print("Value of temperature in Celsius: {}".format(C))
print("Temperature in Fahrenheit: {}".format(F))

Enter value of temp in Celsius:  77

Value of temperature in Celsius: 77
Temperature in Fahrenheit: 170.6

we are now up to page 67 of 492